.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 50px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 50%;
  height: auto;
}

.card-body {
  padding: 10px;
}

.card h3 {
  margin-top: 0;
}

.card p {
  color: #666;
}
